 <%= stylesheet_link_tag 'style.css' %>
<p> Richiesta inviata con successo. <br> Grazie di averci contattato, ti risponderemo al più presto all'indirizzo inserito </p>

<%= link_to root_path do %>
    <i class="fa-solid fa-house"></i> Torna alla home
<% end %>