/**=====Griglia display=====**/

#griglia-gigs{
    width: 100%;
    height: 100%;
  
    display: grid;
  
    grid-template-columns: repeat(5,1fr);
    row-gap: 50px !important;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/**=====Fine Griglia display=====**/


/**=====Navbar Style=====**/

nav ul li:nth-child(1) a:hover {
    color: #0df0a4;
  }
  nav ul li:nth-child(2) a:hover {
    color: #950df0;
  }
  nav ul li:nth-child(4) a:hover {
    color: #328fa5;
  }
  nav ul li:nth-child(1) a:hover::after {
    background: #0df0a4;
  }
  nav ul li:nth-child(2) a:hover::after {
    background: #950df0;
  }
  nav ul li:nth-child(4) a:hover::after {
    background: #23798e;
  }
  
  /**=====Fine Navbar Style=====**/