@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

/**=====Navbar Style=====**/

nav ul li:nth-child(2) a:hover {
  color: #950df0;
}
nav ul li:nth-child(3) a:hover {
  color: #08ee1b;
}
nav ul li:nth-child(4) a:hover {
  color: #328fa5;
}
nav ul li:nth-child(2) a:hover::after {
  background: #950df0;
}
nav ul li:nth-child(3) a:hover::after {
  background: #08ee1b;
}
nav ul li:nth-child(4) a:hover::after {
  background: #23798e;
}

/**=====Fine Navbar Style=====**/

/**=====Carousel Style=====**/
.carousel-inner img{
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  justify-content: center;
  left: auto;
  right: auto;
  width: 40%;
  height: 100%;
  background-color: #1a1a1a;
  opacity: 0.8;
  bottom: 0;
  left: 0;
}

#CarouselButton1 {
  color: #ffff;
  background-color: none;
  border: 2px solid #950df0;
  transition-duration: 0.4s;
  height: 100%;
}
#CarouselButton1:hover {
  background-color: #950df0;
}
#CarouselButton2 {
  color: #ffff;
  background-color: none;
  border: 2px solid #08ee1b;
  transition-duration: 0.4s;
}
#CarouselButton2:hover {
  background-color: #08ee1b;
}
#CarouselButton3 {
  color: #ffff;
  background-color: none;
  border: 2px solid #328fa5;
  transition-duration: 0.4s;
}
#CarouselButton3:hover {
  background-color: #23798e;
}
#S1 {
  padding-top: 25%;
  font-size: 3vw;
  border-bottom: 5px solid #950df0;
  display: inline-block;
  padding-bottom: 1%;
}
#S2 {
  padding-top: 25%;
  font-size: 3vw;
  border-bottom: 5px solid #08ee1b;
  display: inline-block;
  padding-bottom: 1%;
}
#S3 {
  padding-top: 25%;
  font-size: 3vw;
  border-bottom: 5px solid #23798e;
  display: inline-block;
  padding-bottom: 1%;
}
/**=====Fine Carousel Style=====**/

/**=====Info Box Style=====**/
.InfoSite {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 5%;
  padding-top: 5%;
  padding-bottom: 15%;
}
.InfoSite h1 {
  font-size: 2vw;
  text-align: center;
}
.InfoSite h1::before,
.InfoSite h1::after {
  display: inline-block;
  content: "";
  border-top: .2rem solid rgb(49, 198, 24);
  width: 30vw;
  margin: -0.5% 1%;
  transform: translateY(-1vw);
}
#InfoWorkly {
  font-size: 1.5vw;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
#InfoGig {
  width: 100%;
  height: 100%;

  display: grid;

  grid-template-columns: repeat(2,1fr);
}
#InfoGig p{
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}
#InfoGig img{
  grid-column-start: 2;
  grid-column-end: 3;
  width: 70%;
  height: auto
}

#InfoLavori {
  width: 100%;
  height: 100%;

  display: grid;

  grid-template-columns: repeat(2,1fr);
}
#InfoLavori p{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}
#InfoLavori img{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  width: 70%;
  height: auto;
  margin-left: 20%;
}

/**=====Fine Info Box Style=====**/