body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 110vh;
    font-size: 17px;
}

.center{
    position: relative;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

#form{
    padding: 0 40px;
    box-sizing: border-box;
}

.txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;  
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}

a:hover {
    color:darkslateblue
}

/**=====Navbar Style=====**/

nav ul li:nth-child(1) a:hover {
    color: #0df0a4;
  }
nav ul li:nth-child(2) a:hover {
  color: #950df0;
  }
  nav ul li:nth-child(3) a:hover {
    color: #08ee1b;
  }
  nav ul li:nth-child(4) a:hover {
    color: #328fa5;
  }
  nav ul li:nth-child(1) a:hover::after {
    background: #0df0a4;
  }
  nav ul li:nth-child(2) a:hover::after {
    background: #950df0;
  }
  nav ul li:nth-child(3) a:hover::after {
    background: #08ee1b;
  }
  nav ul li:nth-child(4) a:hover::after {
    background: #23798e;
  }
  .loginbox a{
    background-color: rgb(252, 125, 6);
  }
  
  /**=====Fine Navbar Style=====**/