body{
    background: whitesmoke;
}

.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    background-color: whitesmoke;
    justify-content: center;
}

div {text-align: center;}

/**=====Navbar Style=====**/

nav ul li:nth-child(1) a:hover {
  color: #0df0a4;
}
nav ul li:nth-child(2) a:hover {
  color: #950df0;
}
nav ul li:nth-child(4) a:hover {
  color: #328fa5;
}
nav ul li:nth-child(1) a:hover::after {
  background: #0df0a4;
}
nav ul li:nth-child(2) a:hover::after {
  background: #950df0;
}
nav ul li:nth-child(4) a:hover::after {
  background: #23798e;
}
  
  /**=====Fine Navbar Style=====**/