body{
    background-color: rgb(250, 249, 189);          
    background-size: 100%;             
    color: rgb(0, 0, 0);                      
    text-align: center;   
}

.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    background-color: rgb(27, 25, 25);
    color: white;
    height: 100%;
}

.sidebar .btn{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
}

.content{
    background-color: whitesmoke;
}
/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}
    
.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}
    
.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
    
.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
    

/**=====Navbar Style=====**/
nav ul li:nth-child(2) a:hover {
color: #950df0;
}
nav ul li:nth-child(1) a:hover {
color: #0df0a4;;
}
nav ul li:nth-child(3) a:hover {
color: #08ee1b;
}
nav ul li:nth-child(2) a:hover::after {
background: #950df0;
}
nav ul li:nth-child(1) a:hover::after {
background: #0df0a4;
}
nav ul li:nth-child(3) a:hover::after {
background: #08ee1b;
}
    
  /**=====Fine Navbar Style=====**/