body{
    background: linear-gradient(120deg, #f16608, #ee0707);
}

.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    background-color: rgb(27, 25, 25);
    color: white;
    height: 100%;
}

.sidebar .btn{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
}

.content{
    background-color: whitesmoke;
}

/**=====Navbar Style=====**/

nav ul li:nth-child(1) a:hover {
    color: #0df0a4;
  }
  nav ul li:nth-child(3) a:hover {
    color: #08ee1b;
  }
  nav ul li:nth-child(4) a:hover {
    color: #328fa5;
  }
  nav ul li:nth-child(1) a:hover::after {
    background: #0df0a4;
  }
  nav ul li:nth-child(3) a:hover::after {
    background: #08ee1b;
  }
  nav ul li:nth-child(4) a:hover::after {
    background: #23798e;
  }
  
  /**=====Fine Navbar Style=====**/