body{
    background-color: rgb(255, 255, 253);          
    background-size: 100%;             
    color: rgb(0, 0, 0);                      
    text-align: center;   
    font-size: 20px;
}

.main{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    background-color: rgb(255, 255, 253);
    justify-content: center;
}

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}
    
.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}
    
.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
    
.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
    

/**=====Navbar Style=====**/
nav ul li:nth-child(1) a:hover {
    color: #0df0a4;
}
nav ul li:nth-child(3) a:hover {
    color: #08ee1b;
}
nav ul li:nth-child(2) a:hover {
    color: #950df0;
}
nav ul li:nth-child(1) a:hover::after {
background: #0df0a4;
}
nav ul li:nth-child(3) a:hover::after {
    background: #08ee1b;
}
nav ul li:nth-child(2) a:hover::after {
    background: #950df0;
}
    
/**=====Fine Navbar Style=====**/