<h1>Gigs</h1>

<br>
  <% @gigs.each do |gig| %>
      <%= link_to gig.title, gig %>
      <br>
  <% end %>

<br>
<br>
<% if user_signed_in? %>
  <%= link_to "New Gig", new_gig_path %>
<% end %>

<% if !user_signed_in? %>
  <%= link_to "New Gig", new_user_session_path %>
<% end %>
